body {
	font-family: 'EB Garamond', Garamond, Georgia, serif;
	font-size: 22px;
}

h1 {
	font-size: 48px;
}

a, a:visited, a:hover, a:focus, a:active {
	color: #008090;
}

.container {
	width: 26em;
	margin: 3em auto;
}

.icon {
	height: 4.182em;
}

.header {
	margin-bottom: 1em;
	text-align: center;
	font-size: 2.5em;	
}

.footer {
	font-size: 18px;
	color: #8a8a8a;
	margin-top: 3em;
}

.twitter {
	width: 1em;
	height: 0.84em;
	margin-left: 0.5em;
	vertical-align: 0;
}

.post-header {
	margin-bottom: 3em;
}

.center {
	text-align: center;
}

.home-posts ul {
	margin: auto;
	width: 100%;
	clear: both;
}

.home-posts li {
	list-style: none;
	vertical-align: middle;
	margin-bottom: 3em;
	clear: left;
	height: 5em;
}

	.left {
		float: left;
		margin-left: 0em;
		margin-top: 0.9em;
	}

.home-icon {
	width: 5em;
	margin-right: 1em;
	float: left;
}

.post-date {
	color: #AAAAAA;
}

.full-width-image {
	width: 25em;
}

.footer {
	text-align: center;
}

.interim {
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 568px) {
/* Styles */

	h1 {
		font-size: 1.3em;
		max-width: 13em;
		font-weight: 400;
		color: black;
		-webkit-text-fill-color: color; /* Will override color (regardless of order) */
		-webkit-text-stroke-width: 1px;
	    -webkit-text-stroke-color: black;
	}

	.home-posts {
		padding: 0;
		margin: 0;
	}

	.container {
		width: auto;
		margin: 1em;
	}

	.home-posts li {
		min-height: 7em;
	}

		.left {
			width: 6em;
		}

	.home-posts li img {
		display: block;
	}

	.footer {
		margin-top: 7em;
	}

	.full-width-image {
		width: 11em;
	}

	.interim {
		width: auto;
	}

}
