body {
	font-family: 'EB Garamond', Garamond, Georgia, serif;
	font-size: 22px;
}

h1 {
	font-size: 48px;
}

a, a:visited, a:hover, a:focus, a:active {
	color: #008090;
}

.container {
	width: 26em;
	margin: 3em auto;
}

.icon {
	height: 4.182em;
}

.antenna {
	width: 2.2725em;
}

.header {
	margin-bottom: 1em;
	text-align: center;
	font-size: 2.5em;	
}

.footer {
	font-size: 18px;
	color: #8a8a8a;
	margin-top: 3em;
}

.twitter {
	width: 1em;
	height: 0.84em;
	margin-left: 0.5em;
	vertical-align: 0;
}

.post-header {
	margin-bottom: 3em;
}

.center {
	text-align: center;
}

.home-posts ul {
	margin: auto;
	width: 100%;
	clear: both;
}

.home-posts li {
	list-style: none;
	vertical-align: middle;
	margin-bottom: 3em;
	clear: left;
	height: 5em;
}

.home-icon {
	width: 5em;
	margin-right: 1em;
	float: left;
}

.post-date {
	color: #AAAAAA;
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 568px) {
/* Styles */

	h1 {
		font-size: 40px;
	}

	.home-posts {
		padding: 0;
		margin: 0;
	}

	.container {
		width: auto;
		margin: 2em;
	}

	.home-posts li {
		min-height: 7em;
	}

	.home-posts li img {
		display: block;
		float: none;
	}

	.footer {
		margin-top: 7em;
	}
}
